html
  head
    title The Period
    block scripts
    block style
  body
    nav#navbar
      ul
        div#logo
          
             img(src='https://lh3.googleusercontent.com/pw/AL9nZEVnwDVC_9KBqXaJL5LxMVH-YLC3-hzUiI132IexcGITTB8GZmhFWtwtkGxBjovy0LE01xDXL4Dz1t3eLjgSUjeiMQQ2WeI829pQHcH3OS0fEz7b41emrUF1hKI3berOaolxUDt8CZcsydPs3pVehOJi=s500-no?authuser=0')
             
             li #[a(href="/home") Home] 
             li #[a(href="/calender") Calender]
             li #[a(href="/shopping") Shopping] 
             li #[a(href="/dietplan") Diet Plan] 
             li #[a(href="/health") Health] 
        
        div#logo2     
             li #[a(href="/") logout ]
         
        div#logo3 
             li #[a(href="/chat") chat] 
                image(src="https://static.crozdesk.com/web_app_library/providers/logos/000/003/155/original/chatbots-builder-1510149769-logo.png?1510149769" )

        
    block content
        section#sponsorsSection
      
    //- footer#footer
    //-     | Copyright 2022 The Period.com  | All Rights Reserved