doctype html
style 
    include ../statics/group1.css
block content
#firstGroup.container1
  h1.heading Diseases
  .grp1
    h2 Cancer
    p
      | Cancer is a group of diseases that can begin in different places in the body. All women are at risk of cancer, but some groups are at higher risk than others. Our genes, lifestyle, and the environment around us may raise or lower our risk of getting cancer.
      br
      br
      |         Types of cancer:
      br
      | Breast cancer:
      br
      | Breast cancer can begin in different parts of the breast. A breast is made up of three main parts: lobules, ducts, and connective tissue.
      br
      | Cervical cancer:
      br
      | When cancer starts in the cervix, it is called cervical cancer. The cervix connects the vagina (birth canal) to the upper part of the uterus. The uterus (or womb) is where a baby grows when a woman is pregnant.
      br
      | Ovarian cancer:
      br
      | Ovarian cancer is cancer that begins in the ovaries. The ovaries make female hormones and produce a woman&apos;s eggs. Ovarian cancer is a serious cancer that is more common in older women. 
      br
      | Uterine cancer:
      br
      | Cancer of the uterus (uterine cancer) is cancer in the womb, where a baby grows during a woman&apos;s pregnancy. But uterine cancer usually happens after menopause.
  .grp2
    h2 HIV and AIDS
    p
      | Women who have sex only with women might think they are safe from HIV. This type of HIV transmission is rare. If you are a woman and your female partner has HIV, you can get it if you have cuts, bleeding gums, or sores in your mouth and you give oral sex. It is also possible to spread HIV through menstrual blood and shared sex toys.
      br
      br
      | As a woman who has sex with women, it is also possible to get HIV if:
      br
      | You inject or your partner injects drugs with someone who has HIV
      br
      | You have or your partner has sex with a man who has HIV
      br
      | You are trying to get pregnant and use semen that has not been tested for HIV  sexually transmitted infections (STIs)
      br
      | Lower your risk of getting HIV or passing it to your partner:
      br
      br
      | Know your HIV status and your partner&apos;s HIV status.
      br
      | Take steps to protect yourself and others from HIV.
      br
      | Use latex condoms correctly and every time if you have sex with men.
      br
      | Use dental dams correctly.
      br
      | Never share sex toys.
  .grp3
    h2 Thyroid disease
    p
      | Your thyroid is a small butterfly-shaped gland found at the base of your neck, just below your Adam&apos;s apple. The thyroid hormone controls your body&apos;s metabolism in many ways, including how fast you burn calories and how fast your heart beats.
      br
      br
      | Women are more likely than men to have thyroid disease. In women, thyroid diseases can cause: Problems with your menstrual period. Your thyroid helps control your menstrual cycle. Too much or too little thyroid hormone can make your periods very light, heavy, or irregular.
      br
      br
      | Thyroid disease also can cause your periods to stop for several months or longer, a condition called amenorrhea. If your body&apos;s immune system causes thyroid disease, other glands, including your ovaries, may be involved. This can lead to early menopause (before age 40).
      br
      br
      | Problems getting pregnant. When thyroid disease affects the menstrual cycle, it also affects ovulation. This can make it harder for you to get pregnant.
      |           Problems during pregnancy. Thyroid problems during pregnancy can cause health problems for the mother and the baby.
  .grp4
    h2 Premenstrual syndrome (PMS)
    p
      | Premenstrual syndrome (PMS) is a combination of symptoms that many women get about a week or two before their period.As many as three in four women say they get PMS symptoms at some point in their lifetime. For most women, PMS symptoms are mild.
      | Less than 5% of women of childbearing age get a more severe form of PMS, called premenstrual dysphoric disorder (PMDD).
      br
      br
      |           PMS may happen more often in women who:
      br
      |           Have high levels of stress7
      |           Have a family history of depression8
      |           Have a personal history of either postpartum depression or depression
      br
      | Researchers do not know exactly what causes PMS. Changes in hormone levels during the menstrual cycle may play a role. These changing hormone levels may affect some women more than others.
      br
      br
      | PMS symptoms may get worse as you reach your late 30s or 40s and approach menopause and are in the transition to menopause, called perimenopause.
      |           This is especially true for women whose moods are sensitive to changing hormone levels during the menstrual cycle. You may get the same mood changes, or they may get worse.
      |           PMS stops after menopause when you no longer get a period.
  .grp5
    h2 Menstrual Cycle
    p
      | The menstrual cycle is the hormonal process a woman&apos;s body goes through each month to prepare for a possible pregnancy. Regular menstrual periods in the years between puberty and menopause are usually a sign that your body is working normally. Irregular or heavy, painful periods are not normal.
      | If your periods are regular, tracking them will help you know when you ovulate, when you are most likely to get pregnant, and when to expect your next period to start.
      br
      br
      |           If your periods are not regular, tracking them can help you share any problems with your doctor or nurse.
      |           If you have period pain or bleeding that causes you to miss school or work, tracking these period symptoms will help you and your doctor or nurse find treatments that work for you. Severe pain or bleeding that causes you to miss regular activities is not normal and can be treated.
