doctype html
html
  head
    title The Period
    style
      include ../statics/style.css
      include ../statics/index_new.css
  body 
    nav#navbar
      ul
          div#logo
                img(src='https://lh3.googleusercontent.com/pw/AL9nZEVnwDVC_9KBqXaJL5LxMVH-YLC3-hzUiI132IexcGITTB8GZmhFWtwtkGxBjovy0LE01xDXL4Dz1t3eLjgSUjeiMQQ2WeI829pQHcH3OS0fEz7b41emrUF1hKI3berOaolxUDt8CZcsydPs3pVehOJi=s500-no?authuser=0')
                
          li #[a(href="/") Home] 
          div#logo2     
             li #[a(href="/login") login ]
          div#logo4
          li #[a(href="/register") register]
         
     

    
    
   
    img(src="../img/p1.png", alt="", srcset="")
 
   
    img(src="https://i.ibb.co/85XvW4S/OIP-2-removebg-preview.png", alt="OIP-2-removebg-preview", height='827px',border="0")
    h3
        span NO&nbsp;&nbsp;
        span MORE&nbsp;&nbsp;
        span LIMITS&nbsp;&nbsp;
        

    h4
      span Period 
      i  EDUCATION 
      span for&nbsp; 
      i &nbsp;&nbsp; EVERYONE


        
      

      
 
    
  script
        include ../statics/index.js




















//-   A period should end a sentence, not a girls education
//- In school, every period ends with a bell. Every sentence ends with a period. Every crime ends with a sentence
//- //It's like a crime scene in my pants.