doctype html
html
  head
    title The Period
    style
     include ../statics/index_animation2.css
     
  body
    .card
     | Welcome
     |Code Red
     |Learn Live Laugh
    a(href="/index" target='_blank') Click Here