//- extends base.pug

//- block scripts
//-   script(src='index.js')
//-   //- script(src='./models/chat.js')
//-   //- script(src='./models/home.js')
//- block style 
//-   style 
//-     include ../statics/style.css
//-     include ../statics/contact.css
//-     include ../statics/faq.css
//-     include ../statics/animation.css
//-     include ../statics/animation2.css
//-     include ../statics/chat.css
//-     include ../statics/home.css
 
//- body 
//-     nav#navbar
//-       ul
//-           div#logo
//-                 img(src="/statics/image.jpg")
//-                 |Code Red
//-           li #[a(href="/") Home] 
//-           //- do
         
//-           li #[a(href="/") login ]
//-           li #[a(href="/") register]
//-           li #[a(href="/") Shopping] 
//- block content 
//-     section#introSection 
     

//-     .content
//-       h2  Period
//-       h2  Period
     
//-     .waviy
//-       span(style='--i:1') T 
//-       span(style='--i:2') H
//-       span(style='--i:3') E
//-       span(style='--i:4')   -
//-       span(style='--i:5') M
//-       span(style='--i:6') E
//-       span(style='--i:7') N
//-       span(style='--i:8') S
//-       span(style='--i:9') T
//-       span(style='--i:10') R
//-       span(style='--i:11') U
//-       span(style='--i:12') A
//-       span(style='--i:13') L 
//-       span(style='--i:14') _
//-       span(style='--i:15') C
//-       span(style='--i:16') Y
//-       span(style='--i:17') C 
//-       span(style='--i:18') L
//-       span(style='--i:19') E


//-       //- div.small    The real Period is about healthy functioning of your ovaries
//-     section#missionSection 
//-      h2 Videos 
//-     section#FAQ
//-      h1.title FAQ&apos;s
//-      .container1
//-       .container
//-         h1 Frequently Asked Questions
//-         details
//-           summary How do I create accordion?
//-           div
//-             | The tags 
//-             em details
//-             |  and 
//-             em summary
//-             |  have you covered.
//-       .container
//-         details
//-           summary How do I create accordion?
//-           div
//-             | The tags 
//-             em details
//-             |  and 
//-             em summary
//-             |  have you covered.
//-       .container
//-         details
//-           summary How do I create accordion?
//-           div
//-             | The tags 
//-             em details
//-             |  and 
//-             em summary
//-             |  have you covered.
//-       .container
//-         details
//-           summary How do I create accordion?
//-           div
//-             | The tags 
//-             em details
//-             |  and 
//-             em summary
//-             |  have you covered.
//-       .container
//-         details
//-           summary How do I create accordion?
//-           div
//-             | The tags 
//-             em details
//-             |  and 
//-             em summary
//-             |  have you covered.
//-       .container
//-         details
//-           summary How do I create accordion?
//-           div
//-             | The tags 
//-             em details
//-             |  and 
//-             em summary
//-             |  have you covered.   

//-     section#sponsorsSection
//-     section#chat_bot
    
//-      // CHAT BAR BLOCK
//-      .chat-bar-collapsible
//-       button#chat-button.collapsible(type='button')
//-           | Chat with us!
//-           i#chat-icon.fa.fa-fw.fa-comments-o(style='color: #fff;')
//-      .content
//-       .full-chat-block
//-           // Message Container
//-           .outer-container
//-               .chat-container
//-                   // Messages
//-                   #chatbox
//-                       h5#chat-timestamp
//-                       p#botStarterMessage.botText
//-                   // User input box
//-                   .chat-bar-input-block
//-                       #userInput
//-                           input#textInput.input-box(type='text' name='msg' placeholder="Tap 'Enter' to send a message")
//-                           p
//-                       .chat-bar-icons
//-                           i#chat-icon.fa.fa-fw.fa-heart(style='color: crimson;' onclick='heartButton()')
//-                           i#chat-icon.fa.fa-fw.fa-send(style='color: #333;' onclick='sendButton()')
//-                   #chat-bar-bottom
//-                       p


    