doctype html
style 
    include ../statics/group1.css
block content
#secondgroup.container2
  h1.heading Medicines
  .grp1
    h2 Cancer Treatments
    p
      | cancer is treated in several ways. It depends on the kind of cancer and how far it has spread. People with cancer often get more than one kind of treatment.Surgery. An operation where doctors cut out cancer tissue.
      | Chemotherapy. Using special medicines to shrink or kill the cancer cells. 
      br
      br
      | The drugs can be pills you take or medicines given in your veins, or sometimes both.
      |           Hormonal therapy. Blocks cancer cells from getting the hormones they need to grow.
      |           Biological therapy. Works with your body&apos;s immune system to help it fight cancer cells or to control side effects from other cancer treatments.
      |           Radiation therapy. Using high-energy rays (similar to X-rays) to kill the cancer cells.
      br
      br
      | Choosing the treatment that is right for you may be hard. Talk to your cancer doctor about the treatment options available for your type and stage of cancer. Your doctor can explain the risks and benefits of each treatment and their side effects.
  .grp2
    h2 HIV and AIDS Treatements
    p
      | Pre-exposure prophylaxis (PrEP)
      br
      br
      |           You are HIV-negative but your partner is HIV-positive (known as serodiscordant or mixed-status couples)
      |           You are not in a monogamous relationship (you or your partner also have sex with other people) and you do not always use condoms
      |           You inject illegal drugs or share needles
      |           You have a partner who is HIV-positive, and you want to get pregnant. PrEP may help protect you and your baby.
      |           The Centers for Disease Control and Prevention estimates that PrEP could prevent transmission in as many as 140,000 serodiscordant heterosexual couples.4 Learn more about PrEP.
      br
      br
      |           Post-exposure prophylaxis (PEP)
      br
      br
      |           PEP is an anti-HIV medicine for people who may have been very recently exposed to HIV.5 If you think you have been exposed (for example, if a condom breaks), or if you were sexually assaulted, talk to your doctor or nurse about taking PEP.
      |           You must take PEP within three days of exposure to help lower your risk for HIV. You then take two to three antiretroviral medicines for 28 days to prevent the virus from copying itself and spreading through your body.
      br
      br
      |           Antiretroviral medicines
      br
      br
      |           If you are HIV-positive, taking antiretroviral (ARV) medicine can reduce your viral load (the amount of HIV in your blood) to keep you healthy. Knowing your viral load measurement and how to control it by reducing it to undetectable levels can protect your unborn baby during pregnancy, labor, and delivery. It can also help prevent spreading HIV to your sexual partner
  .grp3
    h2 Thyroid Treatments
    p
      | reatment depends on the type of nodule or nodules that you have. Treatments include:
      br
      br
      |             Watchful waiting. If your nodule is not cancerous, your doctor may decide to just watch your condition. You will get regular physical exams, blood tests, and perhaps thyroid ultrasound tests. If your nodule does not change, you may not need further treatment. 
      br
      br
      |             Surgery may be necessary to take out nodules that may be cancerous or large nodules that cause problems breathing or swallowing.
      |             Radioiodine. This type of treatment is helpful if you have nodules that make too much thyroid hormone. Radioiodine causes nodules to shrink and make smaller amounts of thyroid hormone.
      br
      br
      | Hypothyroidism is treated with medicine that gives your body the thyroid hormone it needs to work normally. The most common medicines are man-made forms of the hormone that your thyroid makes. You will likely need to take thyroid hormone pills for the rest of your life. When you take the pills as your doctor tells you to, the pills are very safe.
  .grp4
    h2 Premenstrual syndrome (PMS) Treatments
    p
      | Over-the-counter and prescription medicines can help treat some PMS symptoms.
      | Over-the-counter pain relievers you can buy in most stores may help lessen physical symptoms, such as cramps, headaches, backaches, and breast tenderness. These include:
      br
      br
      |             Ibuprofen
      |             Naproxen
      |             Aspirin
      |             Some women find that taking an over-the-counter pain reliever right before their period starts lessens the amount of pain and bleeding they have during their period.
      br
      br
      |             Prescription medicines may help if over-the-counter pain medicines don&apos;t work:
      br
      |             Hormonal birth control may help with the physical symptoms of PMS,12 but it may make other symptoms worse. You may need to try several different types of birth control before you find one that helps your symptoms.
      |             Antidepressants can help relieve emotional symptoms of PMS for some women when other medicines don&apos;t help. 
      br
      br
      | Selective serotonin reuptake inhibitors, or SSRIs, are the most common type of antidepressant used to treat PMS.
      |             Diuretics (&ldquo;water pills&rdquo;) may reduce symptoms of bloating and breast tenderness.
      |             Anti-anxiety medicine may help reduce feelings of anxiousness.
      |             All medicines have risks. Talk to your doctor or nurse about the benefits and risks.
  .grp5
    h2 Menstural Cycle
    p
      | Many period problems, such as heavy bleeding or painful periods, are caused by other problems with your reproductive system.
      | Your doctor can talk to you about treating heavy bleeding or painful periods with hormonal birth control methods, including intrauterine devices (IUDs), the pill, shot, or vaginal ring. 
      br
      br
      | Hormonal birth control is sometimes prescribed by doctors for women&apos;s health concerns other than preventing pregnancy.
      |             Women who can control this pain with over-the-counter medicines like naproxen or ibuprofen may find that this medicine works best when started immediately before their period or as soon as their period starts.
      br
      br
      |             Tracking your periods and menstrual cycle symptoms can also help your doctor or nurse understand your risk for health problems related to your period problem. Track when your period starts, how long it lasts, the amount of bleeding, and any pain you may have.
      br
      br
      |             Reaching a healthy weight and staying at a healthy weight and not smoking can also help improve period problems, including PMS symptoms, irregular periods, heavy bleeding, and sometimes period pain
