doctype html
style 
    include ../statics/group.css
block content
    #secondgroup.container2
      h1.heading Age group from 35 to 50 
      .grp1
        h2 Dairy
        p
          | Adolescent girls need around 30 percent more calcium than pre-adolescent girls as they tend to achieve their most intense period of growth between the ages of 12 and 19. As bones begin to grow and lengthen in adolescence, calcium compounds must be present for bone formation to take place since osteoblasts, or bone-forming cells cannot make their own calcium but rather take it from the blood and deposit it in the bone. In addition, calcium facilitates the proper functioning of the blood-clotting cascade and allows for greater absorption of vitamin B-12, which is particularly important for cognitive development. Foods high in calcium include dairy products like yogurt, cheese and milk.
      .grp2
        h2 Leafy Greens and Meats
        p
          | The need for iron is also about 30 percent greater in girls who are beginning to menstruate. Hemoglobin consists of iron molecules that carry oxygen to body cells and carbon dioxide away. Because hemoglobin is a component of blood, more of it is lost with menstruation. Deficiencies in iron during menstruation lead to a lowered oxygen carrying capacity of the blood. Girls may experience symptoms of anemia including headaches, fatigue, apathy and weakness if they are not consuming enough iron. Foods high in iron include leafy vegetables and meats. Iron fortified cereals and almonds or almond butter are also good options.
      .grp3
        h2 Zinc Filled Foods
        p
          | Girls and young women also need about 20 percent more zinc as they enter puberty and begin their cycles. Zinc is essential for growth, healing and tissue repair because it helps synthesize DNA and RNA, molecules that play the main role in cell division. Zinc also aids in metabolism of fat and carbohydrates, consumption of which inevitably may increase during the pre-menstrual days and the time of menstruation. Peanut butter, whole grains, and meats such as beef and lamb are especially high in zinc.
      .grp4
        h2 Fish and Nuts
        p
          | Young women may experience more intense cravings for fatty foods with menstrual cycles. This is usually due to hormonal surges that occur when the hypothalamic pituitary axis is activated. Activation of this axis leads to increasing levels of hormones which in turn stimulate the release of estrogen. Estrogen plays a role in the accumulation of adipose, or fatty tissue. Adipose tissue contributes to the circulating pool of estrogen as pubertal changes occur, allowing for normal development to occur. Essential fats are also vital for continued neurological development. The fat of a French fry, however, is not equivalent to the fat found in grilled salmon. Saturated fats and trans fats found in fried foods are the fats that tend to lead to adult health complications, such as cardiovascular disease, whereas unsaturated fats, found in fish and nuts, promote brain development and tend to be of the protective kind.