.container{
    margin: 100px;
    padding: 100px 120px;
    background-color: #AAC4FF;
    height: 400px;
    font-size: 2.2em;
  }
  
  .sub-container{
    padding: 20px 250px;
    font-weight: bold;
  }
  
  .btn{
    padding: 5px;
    margin: 30px 10px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: orange;
    color: black;
  
  }
  .btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
  }
  